canvas{
  display: none;
}

video{
  display:none;
}

html,body{
  padding: 0%;
  margin: 0%;
  color: azure;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: .1em;
}

ul{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

li{
  padding: 5px;
  margin-bottom: 5px;
}

.container{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  background-color: #212121;
}

.container-1{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  order: 1;
  width: 200px;
}
.box-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  order:1;
  width: 100%;
}

.container-2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  order: 2;
  flex:2;
}
.box-2{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#ul-top{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#search-li, #userRequest{
  flex:1;
}
#userRequest{
  text-align: center;
  width:80%;
  height: 50px;
  font-family:  'Noto Sans JP', sans-serif;
  font-size:1rem;
  border-radius: 25px;
}


.box-2-2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  }

  #editor{
    flex: 1;
    width: 100%;
  }

.container-3{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  order: 3;
}
.box-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  order:1;
}

/* Quilljs*/
.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg{
  
  background-color: aliceblue;

}

.ql-toolbar.ql-snow .ql-picker-label{
  background-color: aliceblue;
}
body > div.container > div.container-2 > div.box-2-2 > div.ql-toolbar.ql-snow > span:nth-child(6) > span > span.ql-picker-label{
  background-color: aliceblue;
}

#container99 {
  width: 400px;
  height: 400px;
  position: relative;
}
#cap{
  z-index: 10;
}
#cap,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
 
}
#infoi {
  z-index: 1;
}

.move-left{
  text-align: left;
}
.move-center{
  text-align: center;
}
.move-right{
  text-align: right;
}


/* .move-left-btm{
 bottom: 0;
}
.move-center-btm{
  text-align: center;
}
.move-right-btm{
  text-align: right;
} */